:root{
   /* --nomedavariavel:valor */
    --cor-de-fundo: #000000;
    --verde: #6FFF57;
    --branco: #FFFFFF;
    --botao-ativo: #3A375E;
    --botao-inativo: rgba(58,55,94,0.5);
    --texto-fundo: rgba(58,55,94,0.3);
}

/* 1) "chamando" as tags"

     2) "chamando" as classes (chamndos com nome-da-
     3) "chamando" as IDS; 
    */     
*{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
}